<!DOCTYPE css>
<css>
    body {
      text-align: center;
    
  
        background: url("StAndrewsFashionCollectiveBanner.jpg")no-repeat center fixed;
        background-size: cover;
        background-position: center;
        font-family: "Times New Roman";
        font-size:60;
        color: black;
    }
    
    h1 {
      font-size: 100px;
      font-family: "Times New Roman";
      color: black}
    
    p {
      font-size: 15px;
    }
    
    .about {
        font-family: "Times New Roman";
        font-size: 30px;
        padding: 10px;
        background: rgba(0,0,0,0.7);
        color: black;
    }

    input {
      border: 0;
      padding: 10px;
      font-size: 18px;
    }

    input[type="submit"] {
      background:#7f1a1a ;
      color: white;
    }
    
    a {
    color: #7f1a1a;
  }

  .navbar{
        font-family: "Times New Roman";
        font-size: 30px;
        padding: 10px;
        background: rgba(0,0,0,0.5);
        color: grey;}

    .navbar-brand {
      font-size: 40px;
      font-family: "Times New Roman";
    }

  
  li {
    display: inline;
    padding: 0px 30px 10px 20px;
    font-size:15px;
    font-family: Times New Roman;
  }

  .jumbotron {
        min-height : 300px;
        background-image: url('StAndrewsFashionCollectiveBanner.jpg')no-repeat center fixed;
        background-position: center;
        background-size : cover;
        background-attachment:fixed;
}

.jumbotron img {
    margin-top: 50px;
}

#about {
  background-color: rgba(32,35,41,0.9);
  color: #ddd;
  text-align: center;
}

ol {
  font-size: 50px;
  background-color: black;
  opacity:0.7;
  font-family: Times New Roman; }

  #social-buttons button {
  color: white;
}
#social-buttons{
  padding-bottom: 50px;
}
.btn-twitter {
background-color: #00acee;

}
.btn-facebook {
background-color: #4868ac;

}
.btn-pinterest {
background-color: #b62f26;

}
.btn-email {
  background-color:#7f1a1a;
}
.text-vertical-center{
  display:table-cell;
  text-align:center;
  vertical-align:middle}

  .text-vertical-center h1{
    color:#fff;
    margin:0;
    padding:0;
    font-size:7em;
    font-weight:700}

    .btn-dark{
      border-radius:0;
      color:#fff;
      background-color:rgba(0,0,0,.4)}
      .btn-dark:active,.btn-dark:focus,.btn-dark:hover{
        color:#fff;
        background-color:rgba(0,0,0,.7)}
        .btn-light{border-radius:0;
          color:#333333;
          background-color:#fff}
          .btn-light:active,.btn-light:focus,.btn-light:hover{
            color:#333333;
            background-color:rgb(211,211,211)}
            hr.small{
              max-width:100px}
              .header{
  display:table;
  position:relative;
  width:100%;
  height:100%;
  background:url("StAndrewsFashionCollectiveBanner.jpg") no-repeat center center scroll;
  background-attachment:fixed;-webkit-background-size:cover;
  background-size:cover;
  }
  
  .content {
    padding:20px;
    background: rgba(0,0,0,0.5);
    font-family: "Times New Roman";
  }
  
  .content-item {margin-bottom:15px}
  body,html{width:100%;height:100%}


.footer {
  position:fixed;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: black;
  font-family: "Times New Roman";
  text-align: center;
  opacity:0.7;
  font-color: #333;
}
</css>
