.navbar-nav li{
  font-family:"Times New Roman", Times, serif;
  font-size:1em;
}
.head li{
  font-family:"Times New Roman", Times, serif;
  font-size:1em;
} 
.body li{
  font-family:"Times New Roman", Times, serif;
  font-size:1em;
}

