.navbar-nav li{
  font-family:"Times New Roman", Times, serif;
  font-size:1em;
}
.p1 li{
  font-family:"Times New Roman", Times, serif;
  font-size:1em;
}
.h1 li{
  fond-family:"Times New Roman", Time, serif;
  font-size:1em;
}

