.navbar-nav li{
  font-family:"Times New Roman", Times, serif;
  font-size:1em;
}
.h1 li{
  font-family:"Times New Roman", Times, serif;
  font-size:1em;
}
.p li{
  font-family:"Times New Roman", Times, serif;
  font-size:1em;
}
